* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

/* Navigation Start */
.navbar {
    background-color: #636c79;
    padding: 1em;
}

nav {
    margin-bottom: 2em;
}

#logo {
    width: 50%;
}

.showMenu {
    display: flex;
    justify-content: space-between;
}

.menuBtn {
    color: #fff;
    font-size: 3em;
    cursor: pointer;
}

.list {
    padding-block: 1em;
    list-style: none;
}

.hide-list {
    display: none;
}

.list-item {
    font-size: 1em;
    color: #000;
    padding-block: .6em;
    font-weight: 600;
    font-weight: lighter;
    color: rgb(255, 255, 255);
}

.navbar-btn {
    color: white;
    border: 1px solid white;
    padding: 5px 20px;
    background-color: transparent;
}

@media (min-width: 50em) {
    .menuBtn {
        display: none;
    }
    .hide-list {
        display: block;
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3em;
    }
    .showMenu {
        flex: 40%;
    }
    .list {
        display: flex;
        flex: 50%;
        justify-content: space-between;
        align-items: center;
    }
    #logo {
        width: 20%;
    }
    .container {
        padding-inline: 6em;
    }
}

/* Navigation End */

/* Hero Start */
.hero {
    display: flex;
    flex-direction: column;
    gap: 2em;
    color: #fff;
}
#hero-img {
    border-radius: .5em;
}
.hero-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-right h1, .hero-right p {
    text-align: center;
}
.hero-right p {
    margin-block: 1em;
    font-size: .8em;
}
.hero-right-input {
    background-color: #fff;
    display: flex;
    align-items: center;
}
input {
    padding:1em;
    border: none;
}
input:focus {
    outline: none;
}
button {
    padding: .8em 2.5em;
    margin-inline: .2em;
    background-color: #8bb7a2;
    border: 1px;
    color: white;
    cursor: pointer;
}
@media (min-width: 50em) {
    .hero {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-inline: 5em;
    }
    .hero-right {
        display: block;
        padding-inline: 5em;
    }
    .hero-right, .hero-left {
        flex-basis: 45%;
    }
    .hero-right h1, .hero-right p {
        text-align: justify;
    }
    .hero-right h1 {
        font-size: 2.8em;
    }
    .hero-right p {
        font-size: 1em;
    }
    .hero-right-input {
        justify-content: space-between;
    }
    button {
        padding: .8em 2.5em;
        margin-inline: .2em;
        background-color: #8bb7a2;
        border: 1px;
        color: white;
        cursor: pointer;
    }
}
/* Hero End */

/* Information Section */
.information {
    margin-inline: 1em;
    margin-block: 2em;
}
.info {
    margin-bottom: 1em;
}
.info h2 {
    text-align: center;
    margin-bottom: .5em;
    font-size: 1.8em;
    padding-inline: 1em;
}
.info-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: .5em;
}
.info-list li {
    margin: .5em;
    text-align: center;
}
.info-list li h3 {
    font-size: 1.5em;
    margin-bottom: .5em;
}
@media (min-width: 50em) {
    .information {
        padding-inline: 12em;
    }
    .info h2 {
        padding-inline: 10em;
    }
    .info-list li h3 {
        font-size: 2em;
        margin-bottom: .5em;
    }
}

/* Service */
.services {
    margin-inline: 1em;
    margin-bottom: 2em;
}
.services h2 {
    margin-bottom: 1em;
}
.services-offered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}
.services-offered p {
    margin-block: 1em;
}
.services-offered h3 {
    margin-top: .5em;
}
.services-offered button {
    margin-bottom: .6em;
}
@media (min-width: 50em) {
    .service {
        display: flex;
        justify-content: space-between;
        gap: 2em;
    }
    .services h2 {
        text-align: center;
        font-size: 2em;
    }
    .service-left, .service-right {
        flex-basis: 45%;
    }
    .services-offered h3 {
        font-size: 1.8em;
    }
    .services-offered img {
        max-width: 25em;
        object-fit: contain;
    }
}

/* Team */
.team {
    padding-inline: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.team-heading h3 {
    font-size: 1.8em;
    text-align: center;
}
.team-heading p {
    margin-block: .8em;
}
.profiles {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
}
.profile h3 {
    margin-top: .8em;
}
.profile p {
    margin-block: .8em;
}
.teambtn {
    margin-block: 2em;
}
@media (min-width: 50em) {
    .profiles {
        flex-direction: row;
    }
    .profile-image {
        width: 25em;
    }
}

/* footer desighn  */
footer {
    background-color: #10181d;
    padding: 2% 10%;
}

footer .icons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .icons ul {
    display: flex;
    justify-content: space-between;
    list-style: none;

}

footer .icons ul li {
    padding: 15px;
    color: white;
}


footer .hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

footer .footer-navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-navbar ul {
    list-style: none;
}

.footer-navbar .navbar-list {
    /* padding: 10px; */
    margin: 20px 0px 50px 0px;
    color: #fff;
}

.footer-navbar .navbar-list h4,
ul li {
    padding: 10px;
}