* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f5f2f0;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

.container {
    padding: 1em 1em 0 1em;
}

/* Navigation */
nav {
    display: flex;
    flex-direction: column;
}
.active {
    font-weight: bold;
    color: #000 !important;
}
nav img {
    width: 10em;
    margin-bottom: 1em;
}
nav .line {
    width: 100%;
    height: .2em;
    background-color: #000;
}
.list-item {
    padding-block: .2em;
    color: #919090;
}
@media (min-width: 80em) {
    nav {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60%;
    }
    .list-item {
        padding-block: unset;
    }
    nav .line {
        width: 15em;
    }
    .container {
        padding: 3em 6em 0 6em;
    }
}
/* Main */
.left img {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 35%;
    min-height: 10%;
    z-index: 1;
}
#arrow {
    display: none;
}
.heading-top {
    color: transparent;
    -webkit-text-stroke: 1px #000;
    font-size: 5em;
}
.heading-bottom {
    font-size: 5em;
    padding-inline-start: .5em;
}
.side-heading {
    display: flex;
    align-items: center;
}
.side-heading p {
    align-self: flex-end;
    color: #b9b7b6;
    padding-inline-start: .5em;
}
button {
    background-color: #333333;
    padding: 1em 2em;
    border: none;
    color: #fff;
    font-weight: bold;
}
.top-content {
    display: flex;
    justify-content: space-around;
}
.social-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.btn-heading {
    display: flex;
    justify-content: center;
    padding-block-start: 1em;
}
.dot {
    width: .8em;
    height: .8em;
    border-radius: 50%;
    background-color: #828282;
    margin-inline-end: .5em;
}
.active-dot {
    background-color: #333333;
    width: .9em;
    height: .9em;
    position: relative;
    left: -1px;
}
.quote-items {
    position: relative;
}
.vertical-line {
    width: .1em;
    height: 9em;
    background-color: #828282;
    position: absolute;
    left: .35em;
    top: .2em;
    z-index: -1;
}
.quote-section {
    display: flex;
    flex-direction: column;
}
.quote-section-left li {
    display: flex;
    margin-block: 1em;
}
.quote-section-right img {
    width: 20em;
}
.right {
    margin-bottom: 1em;
}
.quote-section-right p {
    font-size: 1.2em;
    margin-block: 1em;
}
@media (min-width: 30em) {
    .quote-section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
@media (min-width: 50em) {
    .heading-top {
        font-size: 8em;
    }
    .heading-bottom {
        font-size: 8em;
    }
    .side-heading p {
        font-size: 2em;
    }
    .quote-section {
        justify-content: flex-end;
        gap: 10em;
    }
    #arrow {
        display: unset;
    }
}
@media (min-width: 80em) {
    body {
        overflow: hidden;
    }
    .left img {
        max-width: 100%;
        max-height: 100%;
        z-index: -1;
        left: 0;
    }
    .top-content {
        justify-content: flex-end;
        gap: 9em;
        background-color: unset;
    }
    .heading-top {
        font-size: 8em;
    }
    .heading-bottom {
        font-size: 8em;
    }
    .side-heading p {
        font-size: 2em;
    }
    .btn-heading {
        justify-content: flex-end;
    }
}