@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

img, svg {
    max-width: 100%;
    display: block;
}

body {
    font-family: 'PT Serif', serif;
}

.container {
    padding-inline: 1em;
}

/* Navigation Start */
nav {
    padding-top: 1em;
    padding-bottom: 2em;
}
.navbar {
    background-color: #4e248c;
    padding-bottom: 100px;
}

.active-item {
    color:#378ce2 !important;
    border-bottom: 1px solid #8b41d1;
}

#logo {
    max-width: 50%;
}

.showMenu {
    display: flex;
    justify-content: space-between;
}

.menuBtn {
    color: #fff;
    font-size: 3em;
    cursor: pointer;
}

.list {
    padding-block: 1em;
    list-style: none;
}

.hide-list {
    display: none;
}

.list-item {
    font-size: 1em;
    color: #000;
    padding-block: .6em;
    font-weight: 600;
    font-weight: lighter;
    color: #fff;
}

.navbar-btn {
    color: white;
    border: 1px;
    padding: 5px 20px;
    background-color: #5ba0e0;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 1.3rem;
}

@media (min-width: 50em) {
    .menuBtn {
        display: none;
    }
    .hide-list {
        display: block;
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3em;
    }
    .showMenu {
        flex: 40%;
    }
    .list {
        display: flex;
        flex: 50%;
        justify-content: space-between;
        align-items: center;
    }
    #logo {
        width: 20%;
    }
    .container {
        padding-inline: 6em;
    }
}

/* Navigation End */

/* Home */
#top-img {
    width: 50em;
}
.home {
    display: flex;
    flex-direction: column;
}
.home-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-left h1, .home-left p {
    text-align: center;
    color: #fff;
}
.home-left h1 {
    font-size: 2em;
}
.home-left p {
    font-size: .8em;
    margin-block: 1em;
}
.home button {
    color: white;
    border: 1px;
    padding: 8px 20px;
    background-color: #5ba0e0;
    margin-top: 10px;
    cursor: pointer;
    font-size: 1.3rem;
}
@media (min-width: 50em) {
    .home {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .home-left {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .home-left h1, .home-left p {
        text-align: left;
        color: #fff;
    }
    .home-left h1 {
        font-size: 2.5em;
    }
    .home-left p {
        font-size: 1em;
        margin-block: 1em;
    }
    #top-img {
        width: 100em;
    }
}
/* services section desighn  */

.service {
    display: flex;
    padding-inline: 1em;
    margin-bottom: 1em;
}

.service .service-left {
    width: 34rem;
}

.service .service-right {
    padding-top: 20px;
}

.service .service-right h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

.service .service-right .service-right-sub h3 {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.orange {
    color: #f28a3f;
}

.green {
    color: #7aca3a;
}

.blue {
    color: #3f9cf2;
}

.serivce-item {
    display: flex;
    align-items: center;
}

.serivce-item i {
    margin-inline-end: .5em;
}

@media (min-width: 50em) {

}

/* feture section desighn  */

.feature {
    padding: 2% 10%;
}

.feature-heading {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 40px;
}


@media screen and (max-width:800px) {
    .feature-heading {
        font-size: 2rem;
    }
}


/* cards section  */

.cards {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
}

.cards .card {
    height: 20rem;
    width: 20rem;
    box-shadow: rgba(0, 0, 0, 0.5) 1.95px 1.95px 2.6px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
}

/* web-card  */
.cards .card .web-img {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin: 30px auto 50px auto;
    background-color: #fdd7cd;
}

.cards .card .web-img img {
    width: 50px;
}

.cards .card .web-info {
    background-color: #4e248c;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    height: 142px;
}

.cards .card .web-info h4 {
    font-weight: bold;
    font-size: 2rem;
    padding: 10px 0px;
}

/* Data anyalitics card  */
.cards .card .data-img {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin: 30px auto 50px auto;
    background-color: #fff3d8;
}

.cards .card .data-img img {
    width: 50px;
}

/* For all 3 card  */
.cards .card .card-info {
    text-align: center;
    border-radius: 30px;
    height: 142px;
}

.cards .card .card-info h4 {
    font-weight: bold;
    font-size: 2rem;
    padding: 10px 0px;
}

/* secured card  */
.cards .card .secure-img {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin: 30px auto 50px auto;
    background-color: skyblue;
}

.cards .card .secure-img img {
    width: 50px;
}

/* support card  */
.cards .card .support-img {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin: 30px auto 50px auto;
    background-color: pink;

}

.cards .card .support-img img {
    width: 50px;
}