/* RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
ul { 
    list-style: none;
}
img, svg {
    max-width: 100%;
    display: block;
}

.container {
    padding: 1em;
}

/* Navigation Start */
#logo {
    width: 50%;
}

.showMenu {
    display: flex;
    justify-content: space-between;
}

.menuBtn {
    color: #000;
    font-size: 3em;
    cursor: pointer;
}

.list {
    padding-block: 1em;
    border-bottom: 4px solid white;
    list-style: none;
}

.hide-list {
    display: none;
}

.list-item {
    font-size: 1em;
    color: #000;
    padding-block: .6em;
    font-weight: 600;
    font-weight: lighter;
    color: rgb(192, 181, 181);
}

.button-group .nav-button {
    border: 2px solid skyblue;
    background-color: white;
    padding: 1.2em 40px;
    border-radius: 10px;
    color: skyblue;
    cursor: pointer;
}

@media (min-width: 50em) {
    .menuBtn {
        display: none;
    }
    .hide-list {
        display: block;
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3em;
    }
    .showMenu {
        flex: 40%;
    }
    .list {
        display: flex;
        flex: 50%;
        justify-content: space-between;
        align-items: center;
    }
    #logo {
        width: 20%;
    }
    .container {
        padding-inline: 6em;
    }
}

/* Navigation End */

/* Main */

    /* --- services */
    .section {
        display: flex;
        margin-block: 3em;
        flex-direction: column;
        gap: 2em;
    }
    .section-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .section-header {
        font-size: 2em;
        font-weight: 700;
    }
    .section-subHeader {
        font-weight: lighter;
        margin-block: 1em;
    }
    .section-btn {
        padding: 1em;
        font-weight: bold;
        color: white;
        background: linear-gradient(to right bottom, #11c0f8, #0566ea);
        border-radius: 1em;
        border: 1px solid;
        cursor: pointer;
    }
    .section-img {
        width: 100%;
    }
    .section-inverse {
        display: flex;
        flex-direction: column-reverse;
    }

    @media (min-width: 50em) {
        .section {
            display: flex;
            margin-block: 7em;
            flex-direction: row;
        }
        .section-left, .section-right {
            flex: 50%;
        }
        .section-left {
            justify-content: space-between;
            flex: 40%;
        }
        .section-inverse {
            flex-direction: row-reverse;
        }
        .section-img {
            width: 30em;
        }
        .section-header {
            font-size: 3em;
            font-weight: 700;
        }
    }

    /* Main Services */
    .main-services {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card {
        max-width: 25em;
        margin: 1em;
        padding: 1em;
        display: block;
    }

    .card-title {
        margin-block: 1em;
    }

    @media (min-width: 50em) {
        .card {
            max-width: 25em;
            margin: 1em;
            padding: 1em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-basis: 33.333333%;
        }
    }

    /* Pricing */
    .pricing {
        background: linear-gradient(to right bottom, #11c0f8, #0566ea);
        min-height: 650px;
        padding-bottom: 2em;
    }

    .pricing-card {
        min-width: 20em;
        background-color: #fff;
        min-height: 35em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: .5em;
    }

    .picing-card-top {
        background-color: #fff;
        color: #000;
        border-radius: .5em;
        padding: 2em 1em;
    }

    .pricing-card-active {
        background-color: #000;
        color: #fff;
    } 

    .pricing-card-header {
        font-size: 1.5em;
        margin-bottom: .5em;
    }

    .pricing-card-subHeader {
        font-size: 1em;
        color: rgb(192, 181, 181);
    }

    .pricing-card-middle {
        padding-inline: 1em;
    }

    .pricing-card-grey-text {
        color: rgb(142, 141, 141);
    }

    .top-text-header, .top-text-subheader {
        font-size: 2em;
        text-align: center;
        margin-bottom: .5em;
    }

    .top-text-subheader {
        font-size: 1em;
        color: rgb(142, 141, 141);
    }
    
    .pricing h1 {
        color: white;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 40px;
    }
    
    .pricing-cards {
        display: flex;
        flex-direction: column;
        padding-inline: 3em;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }

    .pricing-cards li {
        margin-block: 1em;
    }

    .fa-circle-check {
        color: green;
    }

    .pricing-card-bottom {
        padding-inline: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pricing-card-bottom .top-text {
        margin-bottom: 1.5em;
    }

    .pricings {
        display: flex;
        flex-wrap: wrap;
    }
    
    .pricingcard-bottom-btn {
        margin-bottom: 40px;
    }
    
    .pricingcard-bottom-btn button {
        border: 2px solid skyblue;
        background-color: white;
        padding: 10px 35px;
        border-radius: 10px;
        color: #26c1f8;
        cursor: pointer;
    }
    
    .pricingcard-bottom-btn2 {
        margin-bottom: 40px;
    }
    
    .pricingcard-bottom-btn2 button {
        border: 2px solid skyblue;
        background: linear-gradient(to right bottom, #11c0f8, #0566ea);
        padding: 10px 35px;
        border-radius: 10px;
        color: white;
        cursor: pointer;
    }

    @media (min-width: 50em) {
        .pricing-cards {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            gap: 1em;
        }
    }
    /* Testimonial */
    .testimonial {
        min-height: 45em;
        padding-top: 3em;
        background-color: #f3f3f3;
    }
    .testimonial h1 {
        margin-bottom: 1em;
    }
    .testimonial h1, .testimonial p {
        text-align: center;
    }
    .testimonial p {
        font-size: .8em;
        color: rgb(192, 181, 181);
    }
    .reviews {
        padding: 2em 1em;
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
    .review-card {
        min-height: 12em;
        background-color: #fff;
        min-width: 12em;
        padding: 2em;
    }
    .active-review-card {
        box-shadow: 0 0 1em 0 rgba(0,0,0,.2);
    }
    .review-card p {
        text-align: justify;
        color: #000;
    }
    .review-card-profile {
        display: flex;
        margin-top: 1em;
        align-items: center;
    }
    .review-card-profile img {
        margin-inline-end: 1em;
    }
    .bold {
        font-weight: bold;
        margin-bottom: .8em;
    }
    @media (min-width: 50em) {
        .reviews {
            padding: 2em 10em;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2em;
        }
        .review-card {
            flex-basis: 45%;
        }
    }
    /* register section  */
    .register {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background: linear-gradient(to right bottom, #11c0f8, #0566ea);
        padding: 50px;
        color: #fff;
    }

    .register .reg-info h2 {
        font-size: 2em;
    }

    .reg-info p {
        font-size: .8em;
        margin-block: 1.5em;
    }

    .register button {
        padding: 10px;
        width: 10em;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        cursor: pointer;
        border-radius: 1em;
    }
    @media (min-width: 50em) {
        .register {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            background: linear-gradient(to right bottom, #11c0f8, #0566ea);
            padding: 2em 12em;
            text-align: left;
        }
        .register .reg-info h2 {
            font-size: 2.5em;
        }
    
        .reg-info p {
            color: #fff;
            font-size: .8em;
            margin-block: 1.5em;
        }
    }
    /* Footer */
    .footer {
        padding: 2em 1em;
        display: flex;
        flex-direction: column;
    }
    
    .footer ul {
        list-style: none;
    }
    .col {
        margin-top: 1em;
    }
    
    .footer .colm-1 img {
        height: 34px;
        width: 81px;
    }
    
    .footer .colm-1 p {
        margin-top: 10px;
    }
    
    .footer .colm-2 ul li {
        padding: 10px 0px;
    }
    
    .footer .colm-3 ul li {
        padding: 10px 0px;
    }
    
    .footer .colm-4 ul li {
        padding: 10px 0px;
    }
    
    .icons {
        display: flex;
    }
    .icons img {
        margin-inline-end: .5em;
    }
    @media (min-width: 50em) {
        .footer {
            flex-direction: row;
            justify-content: space-between;
        }
    }